<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>

    <main>
      <div class="container">
        <% for(let job of jobs){ %>
        <div class="card">
            <a href="/job/<%= job._id %>">
                <button class="mainPageButton">
                <%= job.companyName %> - <%= job.firstInterview ? "First interview ✅ " : "No Update" %>
                </button>
            </a>

        </div>

        <% } %>
      </div>
      <ul>
        <li>
          <a href="/job/new">
          <button>Add a new application</button></a>
        </li>
        <li>
          <a href="/job"><button>Home</button></a>
        </li>
      </ul>
    </main>
  </body>
</html>